$mycolor: #506B7F;

$widthmainbar:300;
$widthincrease: 75;
$widthspecial: 20;
$widthrefund: 150;
$widthfinal: 244;
$whithrefundtotal: -($widthrefund + 5);

.mycolor {
  color: $mycolor;
  }


body {
  font-family: 'Lato', sans-serif;
  background-color: #ECECEC;
  font-weight: 500;
  font-size: 16px;

}

.navigation {
  height: 80px;
  margin-bottom: 30px;

}

.navbar-default {
  background-color: #333 !important;
  height: 80px !important;
}

.navbar-brand {
  padding: 22px !important;
}

.navbar-btn {
  margin-top: 24px !important;
  margin-bottom: 24px !important;
}

.titlegraph {
  width: 50%;
  margin: 0 auto;
  text-align: left;
}

.positive {
  border-left: 1px solid #fff;
  height: 100%;
  padding-top: 50px;
  padding-left: 0 !important;

  p {
    padding-left: 15px;
    font-size: 14px;
  }

}

.negative {
  border-right: 4px solid #DDD;
  height: 100%;
}

.bartaxes {
  width: $widthmainbar;
  height: 35px;
  background-color: #BDBDBD;
  box-shadow: 1px 1px 0px rgba(0,0,0,0.4);
  padding: 4px;
  margin-bottom: 30px;

}

.amounttag {
  width: 100px;
  height: 27px;
  background-color: #333;
  padding: 2px;
  border-radius: 15px;


  p {
    font-size: 16px;
    color: white;
    text-shadow: 1px 1px 0px #000;
  }

}

.increase {
  width: $widthincrease;
  background-color: #A96323;
}

.special {
  width: $widthspecial;
  background-color: #794619;
}

.separator {
  width: 1px;
  height: 35px;
  visibility: hidden;
  margin-bottom: 30px;
}

.refund {
  width: $widthrefund;
  margin-left: $whithrefundtotal;
  background-color: #63A365;
}

.finaltax {
  width: $widthfinal;
  background-color: #00C502;
}

.sum {
  margin-left: -200px;
}

.total {
  float:left;
}

.totalbar {
  display: block;
}

.finalvalue {
  font-size: 18px;
  font-weight: bold;
}

.actioncolumn {
  position: fixed;

  .btn {
  margin-bottom: 30px !important;
  border-radius: 35px !important;
  background-color: white !important;
  color: #333 !important;
  border: none !important;
  box-shadow: 1px 1px 0px rgba(0,0,0,0.1);
  width: 210px !important;
  padding-right: 10 !important;
}

}

.graphcol {
  margin-left: 30%;
}

.formcol {
  margin-left: 35%;
  margin-top: 100px;
}

.iconredo{
  margin-right: 5px;
}



h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: 'Lato', sans-serif;
  line-height: 1.1;
  color: #333;
}