.row
  .container
    .col-lg-12
      .navigation
        %navbar.navbar-default.navbar-fixed-top{:role => "navigation"}
          .container
            %a.navbar-brand{:href => "http://www.continuum.cl"}
              %img{alt: "Continuum", src: "/images/asechsim-fut-emprendimiento-logo.png"}/
            %img.pullright.navbar-right.navbar-btn{alt: "Simulador de Impuestos - Continuum/Asech", src: "/images/asechsim-fut-emprendimiento-brand.png"}/
      .col-md-3.actioncolumn
        %button.btn.btn-primary.btn-lg.btn-block{:type => "button"}
          %span.iconredo
            %img{alt: "Volver a simular", src: "/images/asechsim-fut-emprendimiento-iconredo.png"}/
          Volver a simular

        %p Explicación de como funciona el sistema financiero Chileno en virtud del lorem ipsum dolor sit amet, esta simulación busca la paz mundial y educación gratuita y de calidad para todos.

      .col-md-9.graphcol
        .row.titlegraph
          %h4 Lo que voy a pagar ahora
        .row
          .col-lg-3.col-md-3.negative
            
          .col-lg-9.col-md-9.positive

            %p Impuestos hoy (antes de la reforma)
            .bartaxes
              .amounttag
                %p $100MM

            %p ...más el aumento del 20% al 25% de 1ra categoría
            .bartaxes.increase
              .amounttag
                %p $20MM

            %p ...más el 14bis
            .bartaxes.special
              .amounttag
                %p $5MM

            .row
              .sum
                %p Suma de los impuestos a pagar ---------------------------------------------------------------

            .totalbar

              %p Impuestos + 23% + 14bis

              .bartaxes.total
                .amounttag
                  %p $125MM
              
              .bartaxes.increase.total

              .bartaxes.special.total

              .separator

              
            %p ...menos la devolución automática
            .bartaxes.refund
              .amounttag
                %p $30MM



